.footer {
<<<<<<< HEAD:src/layout/styles/footer.module.css
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  background-color: #4558BE;
  /* background: linear-gradient(#333, #6577d2); */
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 40px;
}

.footer p {
  color: white;
}
=======
    padding-bottom: 40px;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    background-color: #37a2aa;
    /* background: linear-gradient(#333, #6577d2); */
    color: #fff;
    border: none;
    cursor: pointer;
    height: 30px;
}
>>>>>>> eb74f6a79c9477e4435551fb532fd862c09954af:src/layout/footer.module.css
