.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  background-color: #4558BE;
  /* background: linear-gradient(#333, #6577d2); */
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 40px;
  z-index: 2;
}

.footer p {
  color: white;
}
