.dropdown-menu {
  min-width: 200px;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 0; 
  opacity: 0; 
  overflow: hidden; 
  visibility: hidden; 
  transition: width 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.6s ease-in-out, border-right-width 0.6s ease-in-out;
}

.dropdown-open {
  max-height: max-content; 
  opacity: 1; 
  visibility: visible; 
}

.dropdown-closed {
  max-height: 0; 
  opacity: 0; 
  visibility: hidden; 
}

.cross-icon {
  transition: transform 0.3s ease-in-out;
}

.cross-icon:hover {
  animation: cross 0.5s ease-in-out 1;
}

.profile-icon {
  transition: transform 0.3s ease-in-out;
}

.profile-icon:hover {
  animation: rotate 0.5s ease-in-out 1;
}

.bell-icon {
  transition: transform 0.3s ease-in-out;
}

.bell-icon:hover {
  animation: ring 0.5s ease-in-out 1;
}

@keyframes cross {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(60deg);
  }
  30% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(145deg);
  }
  65% {
    transform: rotate(180deg);
  }
  80% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

