.button {
    padding: 1rem;
    white-space: nowrap;
    margin-left: 5rem;
    background-color: rgb(36, 104, 187);
    color: white;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
  }

  .button:hover {
    background-color: rgb(52, 125, 215);
    transition: all 0.3s;
  }
  