.book_container {
    font-family: Arial, sans-serif;
    padding: 10px;
    margin: auto;
  }

 h2 {
  text-align: left;
  margin-left: 5rem;
  } 
  
  table {
    border-collapse: collapse;
    width: 95%;
    margin-left: 4.5rem;
    margin-top: 2rem;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  td {
    color: rgb(0, 0, 0);
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover,
  td:hover {
    background-color: #ddd;
    color: black;
  }
  
