.pagination-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;
  }
  
  .pagination-container button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    outline: none;
  }
  
  .pagination-container button.active {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
  }
  
  .pagination-container button:disabled {
    color: #ccc;
    cursor: not-allowed;
  }
  