.users {
    font-family: Arial, sans-serif;
    padding: 10px;
    margin: auto;
<<<<<<< HEAD:src/pages/Table.css
  }

  h2 {
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: 95%;
    margin-left: 4.5rem;
    margin-top: 2rem;
  }
  
  th, td {
=======
}

table {
    border-collapse: collapse;
    width: 85%;
    margin-left: 15%;
    margin-top: 15px;
}

th,
td {
>>>>>>> 022d0703b8ff49cc20f4229c0b2d601a7592e3ec:src/pages/UserList.css
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

td {
    color: rgb(0, 0, 0);
}

th {
    background-color: #f2f2f2;
}

tr:hover,
td:hover {
    background-color: #ddd;
    color: black;
<<<<<<< HEAD:src/pages/Table.css
  }
  
=======
}

h2 {
    margin-bottom: 10px;
}
>>>>>>> 022d0703b8ff49cc20f4229c0b2d601a7592e3ec:src/pages/UserList.css
