.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-edit-form-container {
  border: none;
  align-self: left;
  text-align: left;
  width: 40%;
  margin-left: 5rem;
}

.button-container {
  display: flex;
  justify-content: flex-end; 
  align-items: flex-end; 
  margin-top: auto; 
  padding: 1rem;
  margin-bottom: 2rem;
}

.user-edit-form-container h2 {
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  padding: 0.4rem;
}

input {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid gray;
}
