.user-add-form-container {
  align-self: center;
  text-align: center;
  width: 60%;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  margin-top: 5rem;
}

.form-group {
  margin-bottom: 10px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: flex-end; 
  align-items: flex-end; 
  margin-top: auto; 
  padding: 1rem;
  margin-bottom: 2rem;
}

