/* UserActionsDropdown.module.css */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownBtn {
    background-color: #f2f2f2;
    color: #333;
    border: none;
    padding: 2px 5px;
    font-size: 14px;
    cursor: pointer;
}

.dropdownContent {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1px;
    top: 100%;
    right: 0;
    z-index: 1;
    margin: auto;
    text-align: center;
}

.dropdownContent button,
.dropdownContent a {
    display: block;
    width: 100%;
    padding: 3px 5px;
    color: #333;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s ease;
}

.dropdownContent button:hover,
.dropdownContent a:hover {
    background-color: #f2f2f2;
}


/* Close button */

.dropdownContent button:first-child {
    margin-bottom: 5px;
}