.header {
  background-color: #234796;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  position: relative;
}

.header a {
  color: #234796;
}

.title-link {
  text-decoration: none;
  color: #234796;
}

.title_link h1 {
  margin: 0;
  text-decoration: none;
  color: #e7dfdf;
  padding: 10px; 
  display: block;
  box-sizing: border-box;
}

.profile-link {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.profileLink {
  background-color: transparent; 
  color: white;
  border: none;
  cursor: pointer;
  font-size: larger;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #333333;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  position: absolute;
  top: 100%; 
  right: 0; 
  border-radius: 5px;
  text-align: center;
  
}

.dropdownContent a {
  margin: 10px;
  color: white;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.dropdownContent button {
  text-decoration: none;
  border: none;
  color: white;
  background-color: #333;
  margin: 10px;
  cursor: pointer;
}

.dropdownContent button:hover {
    font-weight: bold;
    text-decoration: underline;
}

.show {
  display: block;
}
