.list {
  background-color: #3a3939;
  width: 5rem;
  height: 100vh;
  position: fixed;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
}

.list:hover {
  width: 15%;
}

.icon {
  color: white;
  font-size: 1.5rem;
  opacity: 1; 
  pointer-events: auto; 
}

.link {
  display: flex;
  align-items: center;
  height: 70px;
  text-decoration: none;
  opacity: 0; 
  pointer-events: none; 
}

.list:hover .link {
  opacity: 1; 
  pointer-events: auto; 
}

.list .link a {
  color: white; 
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  display: flex; 
  align-items: center; 
}

.list:hover .link a {
  color: white; 
}

.list p {
  margin: 0;
  margin-left: 5px; 
  color: #3a3939;
  transition: color 0.3s ease-in-out;
}

.list:hover p {
  color: white; 
}
